<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>myaeis</title>
    </h:head>
    <h:body>
        Login error!
        <h:link outcome="login" value="Back"/>
    </h:body>
</html>
